.addImageRow {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.addImageRow span {
  margin-right: 0.5em;
}

.addButton {
  height: 30px;
}

.imageItem {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border: 1px solid #999999;
  border-radius: 50px;
  margin: 0.5em 3em;
}

.destroy {
  border: none;
  background: none;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.destroy:hover {
  border: none;
  background: none;
}

.destroy:after {
  content: '×';
}
