.create-trick-form {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
}

.create-trick-form > textarea {
  outline: none;
  font-size: 16rem;
  resize: none;
  margin: 0;
}

.create-trick-form > span, .create-trick-form > div {
  margin-top: 0.5em;
}
